* {
    color : rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    word-break: break-all; 
    -webkit-text-stroke: 0.3px #661d1d;
    margin: 5px;
}

.main_wrapper {

    width: 500px;
    height: 800px;
    background-size: 1000px 600px;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.wrapper_mute {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 510px;
	background: transparent;
	border: 2px solid rgba(107, 23, 23, 0.534);
	color: whitesmoke;
	border-radius: 15px;
	backdrop-filter: blur(15px);
	padding: 30px 40px;
}

.front {
    display: flex;
    flex-direction: column;
    transition: 1.0s;
}

.buttonStyle  {
    margin-left: 0 auto;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #af5252;
    border-radius: 5px;
    font-size: 14px;
    background-image: linear-gradient(to right, #81251f 0%, #69362d 51%, #614b46 100%);
}

.buttonStyle:hover {
     background-position: right center;
}

body {
    display: flex;
	align-items: center;
	min-height: 100vh;
	background: green;
	background: url(image/kirrios_bg.png) no-repeat;
    /* background-size: 1920px 1080px; */
	background-position: center;
    overflow: hidden;
}

.buttonStyle::file-selector-button   {
    margin-left: 0 auto;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #af5252;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    background-color: #81251f;
}


.input_text {
    text-align: center;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #af5252;
    border-radius: 5px;
    font-size: 14px;
    background-image: linear-gradient(to right, #81251f 0%, #69362d 51%, #614b46 100%);
    height: 150px;
}

.input_text::placeholder {
    text-align: center;
    color: white;
    font-size: 14px;
}
